/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap'); */
:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: rgb#222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    /* font-family: "Lato", sans-serif; */
}
p{
    margin-bottom: auto;
}
/* ------------------------------------- */
.fancy-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
}
/* ------------------------------------- */


/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(196, 196, 196, 0.5);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 142px;
    height: 142px;
}
.cart-item h4 {
    font-size: 0.9rem;
    text-transform: capitalize;
    /* letter-spacing: var(--mainSpacing); */
    /* margin-bottom: 0; */
}
.item-specs {
    color: grey;
    font-size: 0.85rem;
    margin-bottom: 0;
}
.cart-item-value {
    margin: 0.5rem 0;
    /* letter-spacing: var(--mainSpacing); */
}
.item-amount {
    text-align: center;
    font-size: 1.5rem;
}
.remove-item {
    color: grey;
    cursor: pointer;
}
.cart-up-icon,
.cart-down-icon {
    color: var(--primaryColor);
    cursor: pointer;
    font-size: 2rem;
}
  /*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */