:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: rgb#222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

.cart-img {
    width: 150px;
    height: 150px;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-footer-items{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-footer-btns{
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    column-gap: 60%;
    margin: 0% 10% 0% 0%;
}

.cart-up-icon,
.cart-down-icon {
    cursor: pointer;
}

.fancy-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin: 1rem;
}