.product-container {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 18.25rem;
    max-width: 76rem;
}

.product-filler {
    margin: 1rem 0 1.5rem;
}

.space-container {
    border: 1px solid black;
    margin: 20px;
    /* padding: 20px; */
    height: 700px;
    width: 400px;
    position: relative;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
}
#rocket_container {
    position: absolute;
    /* height: 25vh;
    width: 25vw; */
    /* border: 1px solid red; */
    padding: 0;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    /* overflow:hidden; */
    animation: spaceship 2s linear infinite;
    
}

@keyframes spaceship {
    0% {
        transform: rotate(0deg) translateX(15px) translateY(0px);
    }
    25% {
        transform: rotate(-3deg) translateX(0px) translateY(2px);
    }
    50% {
        transform: rotate(0deg) translateX(-15px) translateY(0px);
    }
    75% {
        transform: rotate(3deg) translateX(0px) translateY(-2px);
    }
    100% {
        transform: rotate(0deg) translateX(15px) translateY(0px);
    }

}

.rocket-bit {
    position: absolute;
    /* display: inline-block; */
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
}

.bit-top {
    visibility: hidden;
    z-index: 1;
}

.bit-middle {
    visibility: hidden;
    z-index: 2;
}

.bit-bottom {
    visibility: hidden;
    z-index: 3;
}




/* selection buttons */

/* #selection-container {
    height: 100%;
    width: 100%;
    position: relative;
} */

.item-div{
    position: absolute;
    /* float: left; */
    height: 75px;
    /* width: 20%; */
    padding: 0 10px;
    visibility: hidden; 
}

.item-li{
    float: left;
    width: 100%;
    height: 100px;
    display: inline;
}

/* .prev-div {
    width: 10%;
}

.next-div {
    width: 25%;
} */

/* .items {
    position: absolute;
} */
.option-rows {
    margin: 2rem auto;
}

.selected {
    visibility: visible;
}