:root {
    --primaryColor: #f09d51;
    --secondaryColor: rgb(231, 226, 221);
    --mainWhite: #fff;
    --mainBlack: rgb#222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

.cart-img {
    width: 150px;
    height: 150px;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-footer-items{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-footer-btns{
    display: grid;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    column-gap: 60%;
    margin: 0% 10% 0% 0%;
}

.cart-up-icon,
.cart-down-icon {
    cursor: pointer;
}

.fancy-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin: 1rem;
}

/* Style of Modal */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#myImg:hover {opacity: 0.7;}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

/* Dropdown menu */

.dropbtn {
    background-color: var(--primaryColor);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondaryColor);
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    color: black !important;
    padding: 0.3rem 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.confirm-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainWhite) !important;
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    margin: 1rem;
}