#main_content {
    margin: 4rem 0;
}
.product-container {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 18.25rem;
    max-width: 76rem;
}

.left-column {
    padding-right: 1.5rem;
}
.right-column {
    padding-left: 1.5rem;
}
.product-filler {
    margin: 1rem 0 1.5rem;
}

.page-heading {
    font-weight: bold;
}

.header-item {
    display: inline;
}

.header-item * {
    display: inline;
}

.header-item::after {
    
    content: ' \|';
    box-sizing: inherit;
}

.header-item:last-of-type:after {
    content: '';
}

#series_name {
    text-transform: capitalize;
}

.product-columns {
    margin: auto 0;
}

.space-container {
    border: 1px solid black;
    margin: 2rem 0;
    height: 700px;
    width: 500px;
    position: relative;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
        radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

canvas {
    height: 100%;
    width: 100%;
    position: absolute;
}
#rocket_container {
    position: absolute;
    padding: 0;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    animation: spaceship 2s linear infinite;
    
}

@keyframes spaceship {
    0% {
        transform: rotate(0deg) translateX(15px) translateY(0px);
    }
    25% {
        transform: rotate(-3deg) translateX(0px) translateY(2px);
    }
    50% {
        transform: rotate(0deg) translateX(-15px) translateY(0px);
    }
    75% {
        transform: rotate(3deg) translateX(0px) translateY(-2px);
    }
    100% {
        transform: rotate(0deg) translateX(15px) translateY(0px);
    }

}

.rocket-bit {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
}

.bit-top {
    visibility: hidden;
    z-index: 1;
}

.bit-middle {
    visibility: hidden;
    z-index: 2;
}

.bit-bottom {
    visibility: hidden;
    z-index: 3;
}


/* selection buttons */

#selection-container {
    margin: 2rem 0;
    background: rgb(243, 238, 233);
}

#selection_rows {
    padding: 1rem;
}

.item-col {
    display: grid;
}

.prev-btn, 
.next-btn {
    background-color: #f09d51;
    border: #f09d51;
}

.item-div{
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    width: 9rem;
    padding: 0 10px;
    visibility: hidden;
    text-align: center;

}

.selected {
    visibility: visible;
}

#totalPriceText {
    margin: 1rem;
}

#orderButton {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    /* font-weight: bold; */
    margin: 1rem;
}

#checkoutButton {
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    /* font-weight: bold; */
    margin: 1rem;
}

.description {
    text-align: justify;
}